.container a, .container p, .container label{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.container{
    background-image: url("../assets/image/gambar/login-regist-background.svg");
    height: 860px;
    background-position: -20px -20px;
    background-size: 110%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title p {
    font-size: 120px;
    font-weight: bold;
}

.title{
    margin-top: 50px;
    margin-bottom: 40px;
}

.form-login a,.form-login p, .form-login label{
    color: #DE4238;
}

.form-login p{
    display: flex;
    margin: 50px auto 20px auto;
    font-size: 40px;
    font-weight: bold;

}
.form-login{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width: 600px;
    height: 600px;
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 25%);
}

.isi-form, .email-input, .password-input{
    display: flex;
    flex-direction: column;
}

.isi-form{
    align-items: center;
}

.email-input, .password-input{
    margin-top: 20px;
}

.masuk-btn button{
    display: flex;
    margin: 50px auto 0 auto;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    font-family: 'Poppins';
    background-color: #DE4238;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border:2px solid #DE4238;
    border-radius: 10px;
    transition: ease-out;
    transition-duration: 0.1s;
}

.masuk-btn button:hover{
    color: #DE4238;
    background-color: white;
}

.isi-form input{
    margin: 5px 0 25px 0;
    width: 490px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Poppins';
    font-size: 20px;
    padding-left: 10px;
}

.isi-form label{
    font-size: 25px;
}

.regist-redirect {
    display: flex;
    margin: 15px auto 0 auto;
    align-items: center;
    justify-content: center;
}

.form-login a::after{
    content: '';
    display: block;
    border-bottom: 2px solid #DE4238;
    padding-bottom: 6px;
    transform: scaleX(0);
    transition: ease-in;
    transition-duration: 0.2s;
}

.form-login a:hover::after{
    transform: scaleX(1.2);
}

.index-redirect{
    margin-top: 40px;
}

.index-redirect a{
    color: #DE4238;
    font-size: 30px;
}

.index-redirect a::after{
    content: '';
    display: block;
    padding-bottom: 6px;
    border-bottom: 2px solid #DE4238;
    transform: scaleX(0);
    transition: ease-in;
    transition-duration: 0.2s;
}

.index-redirect a:hover::after{
    transform: scaleX(0.8);
}